<div class="modal-dialog mt-5">
  <div class="modal-content">
    <div class="modal-header">
      <h4><%= title %></h4>
    </div>
    <div class="modal-body p-3 h-100 scroll-y">

      <% if flash["menu-item-error"] %>
        <div class="alert alert-danger" role="alert">
          <%= flash["menu-item-error"] %>
        </div>
      <% end %>

      <%= form_with **path do |form| %>
        <div class="container d-grid  row-col-1 justify-content-center">
          <% fields.each do |field| %>
            <div class="form-floating my-2">
              <% if field == :price %>
                <%= form.number_field "price", class: "form-control", placeholder: "₹ Price", min: 0, step: 0.1, value: (@menu_item ? @menu_item[:price] : ""), required: true %>
              <% elsif field == :description %>
                <%= form.text_area field, class: "form-control", placeholder: "#{field.capitalize} Of the Item", value: (@menu_item ? @menu_item[field] : ""), required: true, autofocus: fields.first == field %>
              <% else %>
                <%= form.text_field field, class: "form-control", placeholder: "#{field.capitalize} Of the Item", value: (@menu_item ? @menu_item[field] : ""), required: true, autofocus: fields.first == field %>
              <% end %>
              <%= label field, field %>
            </div>
          <% end %>
          <div class="my-2 text-center">
            <%= submit_tag submit_title, class: "btn btn-success w-75" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
