<div class="modal-dialog mt-6">
  <div class="modal-content">
    <div class="modal-header ">
      <h5 class="modal-title">Sign In</h5>
    </div>
    <div class="modal-body">
      <% if flash[:error] %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:error] %>
        </div>
      <% end %>

      <%= form_with url: url do |form| %>
        <div class="container d-grid gap-4 justify-content-center">

          <% fields.each do |field| %>
            <div class="row">
              <div class="col-3">
                <%= form.label field %>
              </div>
              <div class="col-9">
                <%= form.text_field field %>
              </div>
            </div>
          <% end %>

          <div class="mx-auto">
            <%= submit_tag title, class: "btn btn-outline-success" %>
          </div>
        </div>
      <% end %>

    </div>
    <div class="modal-footer justify-content-center">
      <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Sign up</button>
    </div>
  </div>
</div>
