<% orders.each do |order| %>
  <div class="accordion" id="accordionPanelsStayOpenExample">

    <div class="accordion-item">
      <div class="accordion-header" id="panelsStayOpen-headingThree">

        <button class="btn dropdown-toggle form-control collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-<%= order.id.to_s %>" aria-expanded="false" aria-controls="panelsStayOpen-<%= order.id.to_s %>">
          <div class="d-flex justify-content-between">
            <div class="col-9 row row-cols-1 row-cols-sm-2 row-cols-md-3 p-1">
              <div class="col text-start">
                <h4> OrderId: #<%= order.id %> </h4>
              </div>
              <div class="col text-start text-sm-center">
                <h5> ₹ <%= order.price %></h5>
              </div>
              <% if order.address.present? %>
                <div class="col text-start">
                  <b> <%= " #{order.user.name}," %> </b>
                  <p> <%= " #{order.address}." %> </p>
                </div>
              <% end %>

              <div class="col text-start align-self-center">
                <p class="text-secondary mx-1"><%= time_ago_in_words order.updated_at %> ago </p>
              </div>
            </div>

            <% if order.pending? %>
              <div class="col-4 row row-cols-1 row-cols-md-2 col-sm-3 p-0">
                  <div class="col text-center p-1">
                    <% unless @current_user.customer? %>
                        <%= link_to "deliver", order_path(id: order.id, status_id: 2), method: :put, data: { confirm: "Are you sure?" }, class: "btn btn-success form-control" %>
                    <% end %>
                  </div>

                  <div class="col text-center p-1">
                    <%= link_to "cancel", order_path(id: order.id, status_id: 3), method: :put, data: { confirm: "Are you sure?" }, class: "btn btn-danger form-control" %>
                  </div>
              </div>
            <% end %>
          </div>
        </button>

      </div>

      <div id="panelsStayOpen-<%= order.id.to_s %>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <div class="d-flex scroll-x">
            <% order.order_items.each do |item| %>
              <div class="col-6 col-sm-3 col-xl-2 card" id="<%= item.name %>">
                <div class="card-body row row-col-1">
                  <div class="col-12">
                    <h5 class="card-title"> <%= item.name %> </h5>
                  </div>
                  <div class="col-12 align-text-bottom mt-2">
                      <p class="align-middle">quantity: <%= item.quantity %></p>
                      <p class="align-middle">₹ <%= item.price %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">

      <div class="accordion-header" id="panelsStayOpen-headingOne">
        <div class="d-flex justify-content-between">
          <div class="col-8 row p-1">
            <div class="col-12 col-sm-8">
              <h4> OrderId: #<%= order.id %> </h4>
            </div>
            <div class="col-12 col-sm-4 text-sm-end ">
              <h5> ₹ <%= order.price %></h5>
            </div>
            <div class="col-12">
              <p><%= time_ago_in_words order.updated_at %> ago </p>
            </div>
          </div>

          <div class="col-3 row row-cols-1 row-cols-md-2 p-0">
            <% if order.pending? %>
              <div class="col text-center p-1">
                <% unless @current_user.customer? %>
                    <%= link_to "delever", order_path(id: order.id, status_id: 2), method: :put, data: { confirm: "Are you sure?" }, class: "btn btn-success form-control" %>
                <% end %>
              </div>

              <div class="col text-center p-1">
                <%= link_to "cancel", order_path(id: order.id, status_id: 3), method: :put, class: "btn btn-danger form-control" %>
              </div>
            <% end %>
          </div>

          <button class="btn dropdown-toggle dropdown-toggle-split collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
          </button>
        </div>
      </div>

      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body">
          <div class="d-flex scroll-x">
            <% order.order_items.each do |item| %>
              <div class="col-6 col-sm-3 col-xl-2 card" id="<%= item.name %>">
                <div class="card-body row row-col-1">
                  <div class="col-12">
                    <h5 class="card-title"> <%= item.name %> </h5>
                  </div>
                  <div class="col-12 align-text-bottom mt-2">
                      <p class="align-middle">quantity: <%= item.quantity %></p>
                      <p class="align-middle">₹ <%= item.price %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->


<% end %>
