<% @orders.each do |order| %>
  <div class="py-3">
    <div class="d-flex">
      <div class="w-75">
        <h2> OrderId: #<%= order.id %> </h2>
        <h4> ₹ <%= order.price %> (<%= order.status.name %>)</h4>
      </div>
      <div class="w-25">
        <%= link_to "cancel", order, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
    <hr>
    <div class="d-flex scroll-x">
      <% order.order_items.each do |item| %>
        <div class="col-6 col-sm-3 col-xl-2 card" id="<%= item.name %>">
          <div class="card-body row row-col-1">
            <div class="col-12">
              <h5 class="card-title"> <%= item.name %> </h5>
            </div>
            <div class="col-12 align-text-bottom mt-2">
                <p class="align-middle">quantity: <%= item.quantity %></p>
                <p class="align-middle">₹ <%= item.price %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
