<div class="d-flex scroll-x">
  <% if @role.admin? %>
    <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 card">
      <div class="d-flex justify-content-center align-items-center h-100">
        <%= link_to "Add new Item", new_menu_category_item_path(menu_category_id: category.id), method: :get %>
      </div>
    </div>
  <% end %>
  <% category.menu_category_item.each do |menu_category_item| %>
    <% menu_item = menu_category_item.menu_item %>
    <div class="col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 card" id="<%= menu_item.name %>">
      <div class="card-body row row-col-1 ">
        <%= image_tag "food.png", class: "" %>
        <div class="col-12 px-0 px-md-3">
          <h5 class="card-title"> <%= menu_item.name %> <%= ":(" unless menu_item.status %> </h5>
        </div>
        <div class="col-12 px-0 px-md-3 scroll-y" style="height:50px">
          <p class="card-text"><%= menu_item.description %></p>
        </div>
        <div class="col-12 px-0 px-md-3 align-text-bottom mt-2">
          <div class = "d-flex justify-content-between">
            <p class="align-middle">₹<%= menu_item.price %></p>
            <% if @current_user %>
              <% if @current_user.admin? %>
                <div class="btn-group position-absolute top-0 end-0 m-1">
                  <%= link_to edit_menu_item_path(id: menu_item.id), class: "btn btn-outline-primary btn-sm p-1" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                  <% end %>
                  <% link_to menu_category_items_path(menu_item_id: menu_category_item.id, menu_category_id: category.id, home: true), method: :post , class: "btn btn-outline-primary btn-sm p-1" do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                  <% end %>
                  <%= link_to menu_item, method: :delete, class: "btn btn-outline-danger btn-sm p-1", data: { confirm: "\"#{menu_item.name}\" will be deleted from all category are you sure deleting it?" } do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                  <% end %>
                </div>
                <%= form_with(url: menu_item, method: "put") do %>
                  <div class="form-check form-switch">
                    <%= check_box_tag "status", nil, checked = menu_item.status, class: "form-check-input", onclick: "this.form.submit()" %>
                  </div>
                <% end %>
              <% elsif @cart_menu_item_ids.include?(menu_item.id) %>
                <div class="btn-group btn-group-sm">
                  <% crtItm = @cart_items.find_by(menu_item_id: menu_item.id) %>
                  <%= button_to "-", cart_item_path(id: crtItm.id, quantity: crtItm.quantity - 1), method: :put, class: "btn btn-outline-primary btn-sm", disabled: menu_category_item.available? %>
                  <a class="btn border-top border-bottom btn-sm"> <%= crtItm.quantity %> </a>
                  <%= button_to "+", cart_item_path(id: crtItm.id, quantity: crtItm.quantity + 1), method: :put, class: "btn btn-outline-primary btn-sm", disabled: menu_category_item.available? %>
                </div>
              <% else %>
                <%= button_to "Add", cart_items_path(itemId: menu_item.id), method: :post, class: "btn btn-sm btn-primary", disabled: menu_category_item.available? %>
              <% end %>
            <% else %>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sign-in-Modal"> Add </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
