<div class="modal-dialog mt-6">
  <div class="modal-content">
    <div class="modal-header ">
      <h5 class="modal-title"> <%= title %> </h5>
    </div>
    <div class="modal-body">
      <%= form_with **path do |form| %>
        <% if flash["address-error"] %>
          <div class="alert alert-danger" role="alert">
            <%= flash["address-error"] %>
          </div>
        <% end %>

        <div class="container d-grid gap-2 row-col-1 justify-content-center">
          <div class="my-2">
            <%= form.text_field :name, class: "form-control", placeholder: "Title", list: "titles", autofocus: true, autocomplete: "off", value: @address ? @address.name : "" %>
            <datalist id="titles">
              <option value="Home">
              <option value="Office">
            </datalist>
          </div>
          <div class="my-2">
            <%= form.text_area :address, class: "form-control", placeholder: "Address", value: @address ? @address.address : "" %>
          </div>
          <div class="my-2 text-center">
            <%= submit_tag "Add", class: "btn btn-success w-50" %>
          </div>
        </div>
      <% end %>

    <div class="modal-footer justify-content-center">
      <%= link_to "Canccel", addresses_path, class: "btn btn-danger w-50" %>
    </div>
  </div>
</div>
