<div class="container w-50">
  <div class="mt-5 text-center">
    <%= link_to "Add Address", new_address_path, class: "dropdown-item" %>
  </div>
  <% @addresses.each do |address| %>
    <div class="my-3">
      <div class="border text-center">
        <b class="mx-3"><%= address.name %></b>
      </div>

      <div class="border d-flex px-5">
        <div class="col-7">
          <%= address.address %>
        </div>
        <div class="col-3">
          <%= link_to edit_address_path(id: address.id), class: "mx-3" do %>
            <i class="bi bi-pencil"></i>
          <% end %>
          |
          <%= link_to address, method: :delete, class: "mx-3" do %>
            <i class="bi bi-trash-fill text-danger"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
