<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar">
  <div class="container-fluid" id="navbar">
    <a class="navbar-brand" href="/">
      <!-- <i class="bi bi-house-fill" ></i> -->
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg>
    </a>
    <div class="col-6 col-sm-9 col-md-10 col-lg-6 scroll-x mb-2 mb-lg-0">
      <ul class="navbar-nav flex row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 flex-row ">
        <% MenuCategory.order(:id).each do |catagory| %>
          <li class="nav-item d-flex col justify-content-center">
            <a class="nav-link active" aria-current="page" href=<%= "/#" + catagory.name %> ><%= catagory.name %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor" aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarColor">
      <div class="d-flex justify-content-center ps-2">
        <form class="d-inline-flex">
          <input class="form-control w-100 me-2" placeholder="Search for Menu Item" name="search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
      <hr>
      <% if @current_user %>
        <div class="col-12 col-lg-6 d-flex justify-content-around align-items-center px-3">
          <div class="col-lg-6 p3-3">
            <ul class="navbar-nav me-md-3 mb-3 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" data-bs-placement="bottom" aria-expanded="false">
                  <i class="bi bi-person-circle"></i>
                  <%= @current_user.name %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li> <%= link_to "My Profile", @current_user, method: :get, class: "dropdown-item" %> </li>
                  <% if @current_user.customer? %>
                    <li> <%= link_to "My Addresses", addresses_path, class: "dropdown-item" %> </li>
                  <% else %>
                    <li> <%= link_to "All Order", orders_path, class: "dropdown-item" %> </li>
                  <% end %>
                  <% unless @current_user.admin? %>
                    <li> <%= link_to "My Orders", order_path(id: @current_user.id), method: :get, class: "dropdown-item" %> </li>
                  <% else %>
                    <!--
                    <li> <%= link_to "Manage", orders_path, class: "dropdown-item" %> </li>
                    -->
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 ps-3">
            <div class="d-inline-flex">
              <%= link_to "Sign-out", destroy_sessions_path, method: :delete, class: "btn btn-outline-warning btn-sm" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col-3 d-flex justify-content-center ps-3">
          <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#sign-in-Modal"> Sign In </button>
        </div>
      <% end %>
    </div>
  </div>
</nav>
