<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <div class="sticky-top">
      <%= render partial: "layouts/navbar" %>
    </div>
    <!-- Sign In Modal -->
    <div class="modal fade" id="sign-in-Modal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
      <%= render template: "sessions/new" %>
    </div>

    <!-- Sign Up Modal -->
    <div class="modal fade" id="sign-up-Modal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
      <%= render template: "users/new" %>
    </div>

    <%= yield %>
  </body>
</html>
