<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <div class="sticky-top">
      <%= render partial: "layouts/navbar" %>
    </div>

    <!-- Sign In Modal -->
    <div class="modal fade" id="sign-in-Modal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
      <%= render template: "sessions/new" %>
    </div>

    <!-- Sign Up Modal -->
    <div class="modal fade" id="sign-up-Modal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
      <%= render template: "users/new" %>
    </div>

    <!-- Checkout Modal  -->

    <% if @current_user %>
      <div class="modal fade" id="checkout-Modal" tabindex="-1" aria-labelledby="CheckoutModalLabel" aria-hidden="true">
        <%= render partial: "cart_items/checkout" %>
      </div>
    <% end %>

    <%= yield %>

    <% if @current_user && !@role.admin? %>
      <button class="btn btn-primary position-fixed bottom-0 end-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> Cart Items</button>

      <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Cart Items</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <%= render partial: "cart_items/list" %>
        </div>
      </div>
    <% end %>

    <%= render partial: "layouts/notifications" %>
  </body>
</html>
